* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  max-width: 1330px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #eaeaea !important;
  border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
  color: #000 !important;
  top: 80px !important;
  right: 0px !important;
}
.swiper-button-next::after {
  font-size: 25px !important;
  content: "→" !important;
}
.swiper-button-prev::after {
  font-size: 25px !important;
  content: "←" !important;
}
.swiper-button-prev {
  left: -2px !important;
}

.swiper-pagination {
  position: absolute !important;
  width: 100px !important;
  margin-left: 6.6rem;
}

.swiper-pagination-bullet {
  background-color: #adadad;
  width: 15px !important;
  height: 15px !important;
  color: #eda415;
  border: 1px solid #000;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #eda415;
  border: 0px;
}

.userBorder {
  border: 2px dashed #eda415;
  border-radius: 50%;
  padding: 6.54px;
  margin-right: 37.4px;
  margin-bottom: 26.2px;
}

.footerUl > Li {
  list-style-type: none;
  font-size: 19.38px;
  margin-bottom: 15px;
  font-weight: 400;
}
.footerUl > Li::before {
  content: "•";
  color: #d9d9d9;
  margin-right: 12px;
}
.footerUl > Li:last-child {
  margin: 0;
}
.footerUl {
  margin-top: 5px;
}

.footerUl > li > a {
  text-decoration: none;
  color: #1b5a7d;
}
.swiper-wrapper {
  padding-bottom: 59px;
}
.products-slider .swiper-pagination {
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  bottom: 0;
  width: 100% !important;
}

.link-decoration {
  text-decoration: none;
  color: #316887;
}
.size-checkbox {
  content: ("252");
}
.quantity-button-style {
  background-color: "#eee";
  width: 2rem;
  height: 2rem;
  padding: 0;
}
